<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-cctest">
    <div class="container">
      <a class="logo" href="#">
        <img src="assets/images/logo.png" alt="Logo">
      </a>
    </div>
  </nav>
</header>

<main>
  <!--HERO-->
  <div class="hero">
    <div class="container">
      <div class="hero-box">
        <div class="hero-text">
          <h2>Ready to go?</h2>
          <h2>Our cruise ship is waiting for you!</h2>
          <a href="" class="btn btn-orange">Sign Up</a>
        </div>
        <b>
          <h4>Special<br>offer</h4>
          <h3>50%<br>off</h3>
        </b>
      </div>
    </div>
  </div>
  <!--./HERO-->

  <section class="container">
    <div class="central-block">
      <div class="row">
        <div class="col-lg-6 central-item">
          <h1>
            <img src="assets/images/icon1.png">
            <span>01. SIGN UP</span>
          </h1>
        </div>
        <div class="col-lg-6 central-item">
          <h1>
            <img src="assets/images/icon2.png">
            <span>02. SAIL WITH US</span>
          </h1>
        </div>
      </div>
    </div>
  </section>
</main>
